.header {
  display: flex;
  align-items: center; /* Aligns items vertically center */
  justify-content: space-between; /* Positions one item at the start, the other at the end */
}

.title {
  text-align: center;
  flex-grow: 1; /* Allows the title to take up available space */
}
