.map {
  position: fixed; /* Keeps the map fixed in the background */
  inset: 0px; /* Ensures the map covers the whole viewport */
  z-index: -1; /* Places the map behind all other content */
  opacity: 0.25; /* Adjusts the map's opacity */
  overflow: hidden; /* Prevents the map from overflowing the viewport */
}

.container {
  position: relative; /* Establishes a stacking context */
  z-index: 1; /* Ensures the container is above the map */
  margin: 0 auto;
  padding: 0 10px;
  max-width: 768px;

  & > * {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.search {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.main {
  min-height: 100vh;
}
