.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 768px;

  & > * {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.search {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.main {
  min-height: 100vh;
}

.map {
  position: fixed;
  inset: 0px;
  overflow: hidden;
  opacity: 0.25;
}
